body,
input,
select,
button,
textarea {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	min-width: 320px;
	text-rendering: optimizeLegibility;
	width: 100%;
	word-break: initial;
}

.site {
	max-width: 100%;
	overflow-x: hidden;
}

.otgs-development-site-front-end {
	display: none !important;
}

a {

	&:hover,
	&:focus {

	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		box-shadow: $focus-ring-box-shadow;
	}

	svg {
		pointer-events: none;
	}
}

h1,
.h1 {

}

.editor {

	h2,
	.h2 {

	}

	h3,
	.h3 {

	}

	h4,
	.h4 {

	}

	h5,
	.h5 {

	}

	h6,
	.h6 {

	}

	p,
	.p,
	ul,
	ol,
	dl {

	}

	p,
	.p {

		&.lead {

		}
	}

	> p:last-child,
	> .p:last-child,
	> ul:last-child,
	> ol:last-child,
	> dl:last-child,
	> blockquote:last-child {
		margin-bottom: 0;
	}

	+ .actions {

	}
}